@model IEnumerable<BookModel>
@using BookStore.Enums;

@{
    ViewData["Title"] = "Uncover New Worlds Within the Pages";
}

<section class="jumbotron text-center">
    <div class="container">
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
            <a href="#" class="btn btn-success my-2">Search books</a>
        </p>
    </div>
</section>

<hr />


<vc:book-list count="6" type="@BookType.BestBooksByMonth" title="Tranding Now: Today's Top Sellers" />

<vc:book-list count="6" type="@BookType.BestBooksByMonth" title="The Best Books of @DateTime.Now.ToString("MMMM")" />

<vc:book-list count="6" type="@BookType.NewComingSoon" title="Just Announced & Coming Soon" />

<vc:book-list count="6" type="@BookType.BestYoungAdult" title="The Best In Young Adult" />

<vc:book-list count="6" type="@BookType.BestKids" title="The Best In Kids" />


@section scripts {
    <script>
        //$(document).ready(function () {
        //    alert('document is ready !');
        //})
    </script>
}
